{% extends 'layout/base.html.twig' %}

{% block title %}Insert new Lieu{% endblock %}

{% block main %}
    <h1>Créer un nouveau lieu</h1>

    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(lieuForm) }}

{% endblock %}
