{% extends 'layout/base.html.twig' %}

{% block title %}Lieux{% endblock %}

{% block main %}
    <h1>Liste des lieux</h1>
    {% for lieu in lieux %}
        <div>
            <p><a href="{{ path('lieu_detail', {'id': lieu.id}) }}">{{ lieu.id }} - {{ lieu.nom }}</a></p>
        </div>
    {% endfor %}

{% endblock %}
