{% extends 'layout/base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block main %}

    <div class="flex flex-col gap-1 mb-4 sm:mb-6 px-4 sm:px-0">
        <a href="{{ path('participant_profil') }}"
           class="self-start block text-primary text-sm font-semibold py-2 hover:text-gray-400">
            ← Retour au profil
        </a>
        <h1 class="text-center text-xl sm:text-2xl font-bold">
            Modifier mon profil
        </h1>
    </div>
    {% include 'layout/fragments/participant/form.html.twig'%}
{% endblock %}
