{% extends 'layout/base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block main %}

    <a href="{{ path('admin_dashboard') }}"
       class="self-start block text-primary text-sm font-semibold py-2 hover:text-gray-400">
        ← Retour au dashboard
    </a>
    <h1 class="text-2xl font-bold mb-8 text-[#5C7D5C]">
        Gestion des sorties
    </h1>




{% endblock %}
