<nav class="fixed top-0 left-0 right-0 z-50 px-4 md:px-8 py-2 md:py-3 w-full bg-white text-accent border-b-1 border-secondary">


    {# Barre principale #}
    <div class="flex items-center justify-between">

        {# Logo #}
        <a href="{{ path('app_home') }}">
            <img class="h-10 md:h-13 w-auto object-contain hover:scale-110 transition-transform duration-200"
                 src="{{ asset('img/logo.png') }}" alt="Logo">
        </a>

        {# Burger #}
        <button id="burger-btn" class="relative group">
            <div class="relative flex overflow-hidden items-center justify-center rounded-full
                w-[40px] h-[40px] md:w-[40px] md:h-[40px]
                transform transition-all bg-primary ring-0 ring-gray-300 hover:ring-8
                ring-opacity-30 duration-200 shadow-md ">
                <div class="flex flex-col justify-between
                    w-[16px] h-[16px] md:w-[18px] md:h-[16px]
                    origin-center overflow-hidden">

                    <div class="burger-line bg-white h-[2px] w-[18px] md:w-[18px] origin-left delay-100"></div>
                    <div class="burger-line bg-white h-[2px] w-[18px] md:w-[18px] delay-75"></div>
                    <div class="burger-line bg-white h-[2px] w-[18px] md:w-[18px] origin-left"></div>

                    <div class="burger-cross absolute flex">
                        <div class="burger-cross-line-1 absolute bg-white h-[2px] w-[17px] md:w-[18px]"></div>
                        <div class="burger-cross-line-2 absolute bg-white h-[2px] w-[17px] md:w-[18px]"></div>
                    </div>

                </div>
            </div>
        </button>
    </div>

    {# Dropdown #}
    <div id="nav-dropdown" class="hidden mt-4">

        <ul>
            <li>
                <a href="#" class="block text-primary text-lg font-semibold py-2 hover:text-gray-400">
                    Accueil
                </a>
            </li>
            <li>
                <a href="#" class="block text-primary text-lg font-semibold py-2 hover:text-gray-400">
                    Explorer
                </a>
            </li>
            <li>
                <a href="#" class="block text-primary text-lg font-semibold py-2 hover:text-gray-400">
                    Contact
                </a>
            </li>
        </ul>

        <hr class="my-4">

        <ul>
            <li>
                <a href="#" class="block text-primary py-2 hover:text-gray-400">Connexion</a>
            </li>
            <li>
                <a href="#" class="block text-primary py-2 hover:text-gray-400">S'inscrire</a>
            </li>
        </ul>

    </div>
</nav>
