{% extends 'layout/base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block main %}
    <h1>Liste des sorties</h1>
    {% for sortie in sorties %}
        <p>coucou</p>
    {% endfor %}

{% endblock %}
