{% extends 'layout/base.html.twig' %}

{% block title %}Insert new Ville{% endblock %}

{% block main %}
    <h1>Créer une nouvelle ville</h1>

    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
    <button type="submit" class="w-full bg-green-600 hover:bg-green-700 active:scale-[0.99] text-white font-semibold py-3 rounded-xl transition shadow-md">Enregistrer</button>
    {{ form_end(villeForm) }}

{% endblock %}
