{% extends 'layout/base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block main %}
    <h1>Liste des villes</h1>
    {% for ville in villes %}
        <div>
            <p><a href="{{ path('ville_detail', {'id': ville.id}) }}">{{ ville.id }} - {{ ville.nom }} ({{ ville.codePostal }})</a></p>
        </div>
    {% endfor %}

{% endblock %}
