{% extends 'layout/base.html.twig' %}

{% block title %}Update Ville{% endblock %}

{% block main %}
    <h1>Mettre à jour une ville</h1>

    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(villeForm) }}

{% endblock %}
