<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/navbar.js') }}" defer></script>
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

</head>
<body class="text-gray-800 min-95vh flex flex-col">
<header>
    {% include 'layout/fragments/nav-bar.html.twig' %}
</header>
<main class="bg-background min-h-[95vh] pt-16 md:pt-20 flex justify-center min-h-screen flex items-center p-3 sm:p-4">
    <div class="
    w-full max-w-lg
    bg-surface backdrop-blur rounded-2xl shadow-xl
    border border-green-100
    p-5 sm:p-8
    flex items-center flex-col">
        {% block main %}{% endblock %}
    </div>
</main>
<footer>
    {% include 'layout/fragments/footer.html.twig' %}
</footer>
</body>
</html>
