<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Touch-grass{% endblock %}</title>
</head>
<body>
<div class="container">
    <header>
    </header>
    <main>
        <h1>test</h1>
    </main>
    <footer>
    </footer>
</div>
{% block extraJs %}{% endblock %}
</body>
</html>
