{% extends 'layout/base.html.twig' %}

{% block title %}Modification participant{% endblock %}

{% block main %}
    <a href="{{ path('admin_participant') }}"
       class="self-start block text-primary text-sm font-semibold py-2 hover:text-gray-400">
        ← Retour à la liste
    </a>
        {# TITRE #}
        <h2 class="text-xl font-bold uppercase text-[var(--color-primary)] leading-tight">
            Modifier informations
        </h2>
    {% include 'layout/fragments/participant/form.html.twig'%}
{% endblock %}
