{% extends 'layout/base.html.twig' %}

{% block title %}Modification participant{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/openModal.js') }}" defer></script>
{% endblock %}
{% block main %}
    <a href="{{ path('admin_participant') }}"
       class="self-start block text-primary text-sm font-semibold py-2 hover:text-gray-400">
        ← Retour à la liste
    </a>
        {# TITRE #}
        <h2 class="text-xl font-bold uppercase text-[var(--color-primary)] leading-tight">
            Modifier informations
        </h2>
    {% include 'layout/fragments/participant/form.html.twig'%}
    <div
       class="mt-4 text-red-600 hover:text-red-800 hover:underline"
       onclick="openDeleteModal(event)">
        Supprimer le compte
    </div>
{% include 'layout/fragments/modals/profil-delete-account.html.twig' with {
    confirm_path: path('admin_user_delete', { id: utilisateur.id }) } %}
{% endblock %}
